
* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #4d4d4f;
    background-color: #ebebe4;
}

ul,
li {
    margin: 0;
    list-style-type: none;
    padding: 0
}

.pp-navbar {
    height: 105px;
    border-radius: 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    z-index: 999;
}

.pp-navbar.sticky {
    background-color: rgba(0, 0, 0, .8)
}

.pp-navbar .navbar-header {
    float: left;
    margin-left: 0;
}

.pp-navbar .navbar-brand {
    height: 80px;
    padding: 0;
    margin: 10px 0;
}

.pp-navbar .navbar-brand img {
    height: 100%
}

.pp-navbar .navbar-nav {
    float: right;
    margin: 35px 0px;
}

.pp-navbar .navbar-nav li {
    display: inline-block;
}

.pp-navbar .navbar-nav li a {
    color: #ffffff;
    font-size: 14px;
    padding: 0 0 0 24px;
    opacity: .9;
}

.pp-navbar .navbar-nav li a:hover,
.pp-navbar .navbar-nav li a:focus,
.pp-navbar .navbar-nav li a:active {
    opacity: 1;
    background-color: transparent;
    color: #ffffff;
}


.pp-hero {
    height: 800px;
    text-align: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(29, 31, 36, 0.8), rgba(29, 31, 36, 0.8)), url('../images/hero-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 9;
    padding: 0 15px;
}

.pp-hero h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 40px;
    line-height: 60px;
    font-family: 'Kaushan Script', cursive;
}

.pp-hero .form-group {
    position: relative;
}

.pp-hero .form-group input,
.pp-hero .form-group .btn {
    display: inline-block;
}

.pp-hero .form-group .form-control {
    width: 79%;
        height: 40px;
}

.pp-hero .form-group .btn {
    width: 20%;
    height: 40px;
    max-width: 120px;
}

h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: #000 1px 0 30px;
  font-weight: bold;

}

#content-container {
  margin: 6rem;
}

 h3, h4{
  color: white;
font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
